<%- include("_header.ejs") %>
<h2> - Authentication -</h2>
<h3 style="color: red;"> <i>Use <b>POST</b> methods for following routes: </i></h3>
<ul>
   <li>
      <a href="/auth/login" title="/auth/login">login</a>: &nbsp; params: username, password
   </li>      
</ul> 
<p>Back: <a href="/">Info Page</a></p>
<%- include("_footer.ejs") %>