<%- include("_header.ejs") %>
<h2> - Authentication -</h2>
<br>
<h3 style="color: red;"> <i>Use <b>POST</b> methods for following routes: </i></h3>
<ul>
   <li>
      <a href="/auth/signin" title="/auth/signin">signin</a>: &nbsp; params: username, password
   </li>      
</ul>
<p><a href="/" >Info Page</a></p>
<%- include("_footer.ejs") %>