<%- include("_header.ejs") %>
<h2> - Login -</h2>
<br>
<h3 style="color: red;"><i>Expects a <u>POST</u> method </i></h3>
<p><a href="#" onclick="history.go(-1)">Go Back</a></p>
<%- include("_footer.ejs") %>